.logo-container {
    position: absolute;
    right: 15%; /* Adjusted to move left */
    top: 20%;
  }

  .circle {
    width: 350px;
    height: 350px;
    border: 0.1px solid #ffd700;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.6s ease-in-out;
    box-shadow: 0 0 10px #ffd700, inset 0 0 10px #ffd700; /* Add neon glow inside and outside */
  }

  .logo-image {
    width: 100%;
    height: auto;
    opacity: 1;
  }

  .circle:hover {
    border-color: #ffd700;
    box-shadow: 0 0 20px #ffd700, inset 0 0 20px #ffd700; /* Neon glow inside and outside on hover */
  }
